annotated-types==0.7.0
asgiref==3.9.2
attrs==20.3.0
cachetools==6.2.2
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.3
cryptography==45.0.7
Django==4.2.26
google-ai-generativelanguage==0.6.15
google-api-core==2.28.1
google-api-python-client==2.187.0
google-auth==2.43.0
google-auth-httplib2==0.2.1
google-generativeai==0.8.5
googleapis-common-protos==1.72.0
grpcio==1.76.0
grpcio-status==1.71.2
httplib2==0.31.0
idna==3.10
jellyfish==1.2.0
lib50==3.1.4
packaging==25.0
pexpect==4.9.0
proto-plus==1.26.1
protobuf==5.29.5
psycopg2-binary==2.9.11
ptyprocess==0.7.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.12.4
pydantic_core==2.41.5
pyparsing==3.2.5
python-dotenv==1.2.1
pytz==2025.2
PyYAML==6.0.2
requests==2.32.5
rsa==4.9.1
setuptools==80.9.0
sqlparse==0.5.3
submit50==3.2.1
termcolor==1.1.0
tqdm==4.67.1
typing-inspection==0.4.2
typing_extensions==4.15.0
uritemplate==4.2.0
urllib3==2.5.0
