{% extends "listsapp/layout.html" %}

{% block body %}

<h2>Products</h2>
<ul>
    {% for prod in products %}
        <li>
            <a href="{% url 'productpage' prod.id %}">
                {{ prod.name }}
            </a>
        </li>
    {% empty %}
        <li>No products available.</li>
    {% endfor %}
</ul>

<hr>

<h2>Supermarkets</h2>
<ul>
    {% for sup in supermarkets %}
        <li>
            <a href="{% url 'supermarketpage' sup.id %}">
                {{ sup.username }}
            </a>
            {% if sup.address %}
                <br>
                <small>{{ sup.address }}</small>
            {% endif %}
        </li>
    {% empty %}
        <li>No supermarkets found.</li>
    {% endfor %}
</ul>

{% if request.user.is_authenticated%}
<hr>
{% if not request.user.is_supermarket%}
<h2>My Lists</h2>
<ul>
    {% for lst in list %}
        <li>
            <a href="{% url 'listpage' lst.id %}">
                {{ lst.name }}
            </a>
        </li>
    {% empty %}
       <a href="{% url 'userpage' %}">You have no lists, go create some</a>
    {% endfor %}
</ul>
{% endif %}
{% else %}
<p>
    <a href="{% url 'login' %}">Log in</a> to see your lists.
</p>
{% endif %}

{% endblock %}